{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucid Garden: Account</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
</head>
<body>

    <header>
        <h1 class="title">Lucid Garden</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'account' %}">Account</a></li>
            </ul>
        </nav>
    </header>

    <div class="account-container">
        <h2>Profile</h2>
        <p>Username: </p>
        <p>Email: </p>

        <button>Edit Profile</button>
        <button>Logout</button>
    </div>

</body>
</html>