{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucid Garden: Account</title>
    <link rel="icon" type="image/png" href="/static/main/images/lucids/10.png">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
</head>
<body>

    <header>
        <h1 class="title">Lucid Garden</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'account' %}">Account</a></li>
                <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
            </ul>
        </nav>
    </header>

    <div class="account-container">
        <img src="{% static 'main/images/profile.jpg' %}" class="profile-pic">
        <h2>Profile</h2>
        <p>Name: {{ user_name}}</p>
        <p>Username: {{ user_username}}</p>
        <p>Email: {{ user_email}}</p>

        <div class="button-row">
            <a href="{% url 'edit_profile' %}" class="button-link">Edit Profile</a>
            <a href="{% url 'logout' %}" class="button-link">Logout</a>
        </div>
    </div>

    <div class="attribution">
        Attribution: <a href="https://www.vecteezy.com/free-vector/default-user">Default User Vectors by Vecteezy</a> and <a href="https://www.vecteezy.com/free-vector/profile">Profile Vectors by Vecteezy</a>
    </div>
</body>
</html>
