{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucid Garden: Edit Profile</title>
    <link rel="icon" type="image/png" href="/static/main/images/lucids/10.png">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
</head>
<body>

    <header>
        <h1 class="title">Lucid Garden</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'account' %}">Account</a></li>
                <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
            </ul>
        </nav>
    </header>

    <form method="POST" class="register-form">
        {% csrf_token %}
        <h2>Edit Profile</h2>
        {{ form.as_p }}
        <div class="button-row">
            <button type="submit">Save</button>
            <a href="{% url 'account' %}" class="button-link">Cancel</a>
        </div>
    </form>

    <div class="attribution">
        Attribution: <a href="https://www.vecteezy.com/free-vector/default-user">Default User Vectors by Vecteezy</a> and <a href="https://www.vecteezy.com/free-vector/profile">Profile Vectors by Vecteezy</a>
    </div>
</body>
</html>
