<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucid Garden</title>
    <link rel="stylesheet" href="static/main/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
</head>
<body>
    <header>
        <h1 class="title">Lucid Garden</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'account' %}">Account</a></li>
            </ul>
        </nav>
    </header>

    

    <div class="main-container">
        <div class="sidebar-container">
            <h2>Alarms</h2>
            <ul class="alarms-list">
                <label class="lucid-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="checkbox-text">Alarm 1</span>
                </label>
            </ul>
            <button id="createAlarmBtn"><b>Create Alarm</b></button>

            <div id="alarmCreation" class="overlay">
                <div class="popup">
                    <h2>Create Alarm</h2>

                    <label>Time:</label>
                    <input type="time">

                    <br><br>

                    <button id="saveAlarm">Save</button>
                    <button id="closeModal">Cancel</button>
                </div>
            </div>
        </div>

        <div class="content-container">
            <h2 class="content-info">Words here</h2>
            <div id="main-results">

            </div>
        </div>
    </div>

    <div class="attribution">
        Attribution: <a href="https://www.vecteezy.com/free-vector/default-user">Default User Vectors by Vecteezy</a> and <a href="https://www.vecteezy.com/free-vector/profile">Profile Vectors by Vecteezy</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="static/main/js/script.js"></script>
</body>
</html>
