<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucid Garden</title>
    <link rel="icon" type="image/png" href="/static/main/images/lucids/10.png">
    <link rel="stylesheet" href="static/main/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
</head>
<body>
    <header>
        <h1 class="title">Lucid Garden</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'account' %}">Account</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
            </ul>
        </nav>
    </header>

    

    <div class="main-container">
        <div class="sidebar-container">
            <h2>Alarms</h2>
            <div class="alarms-list">
                {% if alarm %}
                <form method="POST" action="{% url 'delete_alarm' %}">
                    {% csrf_token %}
                    <label class="lucid-checkbox">
                        <!-- Checkbox for deleting the alarm, and submitting the POST form -->
                        <input type="checkbox" onchange="this.form.submit()">
                        <span class="checkmark"></span>
                        <!-- If the alarm is due, add the "due" class to the text, which for now makes it just the color red -->
                        <span class="checkbox-text {% if is_due %}due{% endif %}">{{ alarm.time|time:"h:i A" }}</span>
                    </label>
                </form>
                {% endif %}
            </div>
            <button id="createAlarmBtn"><b>Create Alarm</b></button>

            <div class="stats-section">
                <h2>Stats</h2>
                <div class="stats-box">
                    <p>Streak: {{ game_profile.alarm_streak }}</p>
                    <p>Battle Charges: {{ game_profile.battle_charges }}</p>
                </div>
            </div>

            <div id="alarmCreation" class="overlay">
                <form method="POST" class="popup" action="{% url 'create_alarm' %}">
                    {% csrf_token %}
                    <h2>Create Alarm</h2>
                    {% if messages %}
                        <div id="django-messages" style="display:none;">
                            {% for message in messages %}
                                <p class="django-message">{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <label>Time:</label>
                    <input type="time" name="time">

                    <br><br>

                    <button id="saveAlarm" type="submit" >Save</button>
                    <button type="button" id="closeModal">Cancel</button>
                </form>
            </div>
        </div>

        <div class="content-container">
            <h2 class="content-info">Welcome {{ name }}!</h2>
            <div id="main-results">
                <div id="game-message"></div>
                <div id="starter-section"></div>
                <div id="levelup-section"></div>
                <div id="party-section"></div>
                <div id="collection-section"></div>
                <div id="battle-section"></div>
                <div class="game-buttons">
                    <button id="next-button" onclick="mainHub()">Next</button>
                    <button id="party-button" onclick="loadParty()">Show Party</button>
                    <button id="collection-button" onclick="loadCollection()">Show Collection</button>
                    <button id="battle-button" onclick="startBattle()">Start Battle</button>
                </div>
        </div>
    </div>
            </div>
        </div>
    </div>

    <div class="attribution">
        Attribution: <a href="https://www.vecteezy.com/free-vector/default-user">Default User Vectors by Vecteezy</a> and <a href="https://www.vecteezy.com/free-vector/profile">Profile Vectors by Vecteezy</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="static/main/js/script.js"></script>
</body>
</html>
